* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

:root {
  --White: hsl(0, 0%, 98%);
  --Gray: hsl(0, 0%, 41%);
  --Black: hsl(0, 0%, 8%);
}

/* styling of the container */
body {
  width: 100%;
  height: 100vh;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 20px 0 20px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  position: relative;
  height: 100px;
  width: 100%;
}

.logo {
  font-size: 25px;
  font-weight: 700;
  font-family: 'Courier New', Courier, monospace;
}
.buger_menu img {
  width: 20px;
  height: 20px;
}

.menu {
  position: absolute;
  width: 250px;
  height: 670px;
  background-color: var(--White);
  left: 40%;
  top: 0px;
  padding: 20px;
  line-height: 3rem;
}
.menu ul li {
  list-style: none;
  font-size: 1.5rem;
}

.logs {
  display: block;
  text-align: center;
  margin-top: 40px;
}

.register {
  border-radius: 1px solid var(--Black);
  padding: 10px 18px;
}

/* main_section */
.flex_section {
  display: block;
  justify-content: center;
  align-items: center;
}

.banner_img img {
  width: 100%;
}

.main_text {
  text-align: center;
  padding: 20px;
}

.main_text h1 {
  font-size: 2rem;
  font-weight: 800;
  margin: 15px 0;
}

.main_text p {
  color: var(--Gray);
  font-size: 20px;
}

.learn_btn {
  padding: 10px 20px;
  background-color: var(--Black);
  color: var(--White);
  border-radius: 10px;
  margin: 10px;
}

.gray_img {
  margin-bottom: 1.5rem;
}

.gray_img ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.gray_img ul li {
  list-style: none;
  padding-right: 5px;
}

.gray_img ul li img {
  width: 50px;
}
